[submodule "shell/tmux-plugins/tmux-sensible"]
	path = shell/tmux-plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "shell/tmux-plugins/tpm"]
	path = shell/tmux-plugins/tpm
	url = https://github.com/tmux-plugins/tpm
